* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "NATS", sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%;
    display: block;
}
html {
    font-size: 62.5%;
}
button {
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.s-form {
    margin-top: 3.6rem;
}
.s-form .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-form .container .title-form {
    max-width: 52rem;
    width: 100%;
    padding: 1.2rem 1rem;
    position: relative;
    margin-bottom: 3.6rem;
}
.s-form .container .title-form .line:after {
    content: "";
    position: absolute;
    bottom: 1.2rem;
    left: 1rem;
    width: 6.8rem;
    height: 0.3rem;
    background-color: #9dbdb2;
}
.s-form .container .title-form h1 {
    text-align: center;
    font-size: 2.2rem;
}
.s-form .container form {
    max-width: 68.8rem;
    width: 100%;
}
.s-form .container form .reason-section {
    display: flex;
    padding: 1.8rem 3.2rem 1.9rem;
    width: 100%;
    gap: 3.2rem;
    margin-bottom: 1.2rem;
}
.s-form .container form .reason-section .input-group {
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
    max-width: 29.6rem;
    width: 100%;
}
.s-form .container form .reason-section .input-group .input-wrapper {
    text-align: center;
}
.s-form .container form .reason-section .input-group .input-wrapper select {
    width: 14rem;
}
.s-form .container form .info-section {
    margin-bottom: 1.2rem;
}
.s-form .container form .info-section .info-head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.9rem;
    position: relative;
    margin-bottom: 0.8rem;
}
.s-form .container form .info-section .info-head h3 {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.s-form .container form .info-section .info-head .input-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.s-form .container form .info-section .info-head .input-wrapper input {
    max-width: 8.4rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
.s-form .container form .info-section .input-group {
    padding: 0 3.2rem;
    display: flex;
    justify-content: space-between;
}
.s-form .container form .info-section .input-group .input-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.2rem;
    width: 100%;
}
.s-form .container form .info-section .input-group .input-wrapper input {
    width: 100%;
}
.s-form .container form .info-section .input-group .input-group {
    padding: 0;
}
.s-form .container form .info-section .four-columns {
    display: flex;
    padding: 0 3.2rem;
    gap: 3.2rem;
}
.s-form .container form .info-section .four-columns .input-group {
    max-width: 29.6rem;
    justify-content: space-between;
    gap: 1.6rem;
    width: 100%;
    padding: 0;
}
.s-form .container form .title-01-section {
    padding: 0 3.2rem 1.6rem;
    margin-bottom: 1.2rem;
}
.s-form .container form .title-01-section .info-head {
    margin-bottom: 0.8rem;
}
.s-form .container form .title-01-section .info-head h3 {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.s-form .container form .title-01-section .input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.s-form .container form .title-01-section .input-group .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.s-form
    .container
    form
    .title-01-section
    .input-group
    .input-wrapper:first-child,
.s-form
    .container
    form
    .title-01-section
    .input-group
    .input-wrapper
    :last-child {
    max-width: 29.5rem;
}
.s-form .container form .title-01-section .input-group .input-wrapper label {
    text-align: center;
}
.s-form .container form .two-columns {
    display: block;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}
.s-form .container form .two-columns .title-02-section {
    display: flex;
    max-width: 26.8rem;
    width: 100%;
    position: relative;
    flex-direction: column-reverse;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
    transition: all 0.3s;
}
.s-form .container form .two-columns .title-02-section .info-head {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    display: flex;
    align-items: center;
}
.s-form .container form .two-columns .title-02-section .info-head h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.s-form
    .container
    form
    .two-columns
    .title-02-section
    .info-head
    .input-wrapper
    label {
    margin-right: 1.6rem;
}
.s-form
    .container
    form
    .two-columns
    .title-02-section
    .info-head
    .input-wrapper
    input {
    max-width: 7rem;
    width: 100%;
}
.s-form .container form .two-columns .title-02-section .input-group {
    margin: 1.6rem;
    display: flex;
    gap: 1.6rem;
}
.s-form
    .container
    form
    .two-columns
    .title-02-section
    .input-group
    .input-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 11rem;
}
.s-form
    .container
    form
    .two-columns
    .title-02-section
    .input-group
    .input-wrapper
    label {
    text-align: center;
}
.s-form .container form .two-columns .title-02-section.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
    max-height: none;
    height: 12rem;
}
.s-form .container form .two-columns .title-03-section {
    max-width: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    transition: all 0.3s;
}
.s-form .container form .two-columns .title-03-section .info-head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.s-form .container form .two-columns .title-03-section .info-head h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 0.8rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .info-head
    .input-wrapper {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .info-head
    .input-wrapper
    input {
    max-width: 7rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .info-head
    .input-wrapper
    label {
    margin-right: 1rem;
}
.s-form .container form .two-columns .title-03-section .input-group {
    display: flex;
    margin: 0.8rem 1.6rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .input-group
    .input-wrapper {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 100%;
    transition: all 0.3s;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .input-group
    .input-wrapper
    label {
    text-align: center;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .input-group
    .input-wrapper
    .btn-area {
    display: flex;
    gap: 0.8rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .input-group
    .input-wrapper
    .btn-area
    .toggle-button {
    border-radius: 5px;
    border: 0.3px solid #000;
    background: #fffafa;
    width: 100%;
    transition: all 0.3s;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section
    .input-group
    .input-wrapper
    .btn-area
    .toggle-button.active {
    background: #000;
    color: #fffafa;
}
.s-form .container form .two-columns .title-03-section.active {
    max-width: 40.4rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section.active
    .input-group
    .input-wrapper {
    max-width: 14rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section.active
    .input-group
    .input-wrapper:last-child {
    max-width: 11rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section.active
    .input-group
    .input-wrapper:nth-child(2) {
    max-width: 12rem;
}
.s-form
    .container
    form
    .two-columns
    .title-03-section.active
    .input-group
    .input-wrapper
    .btn-area
    .toggle-button {
    width: 5rem;
}
.s-form .container form .two-columns.active {
    display: flex;
}
.s-form .container form .parecer-section {
    margin-bottom: 1.4rem;
}
.s-form .container form .parecer-section h3 {
    margin-bottom: 2.4rem;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.s-form .container form .parecer-section #text {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    resize: none;
    line-height: 31px;
    padding-bottom: 3.4rem;
    background-image: repeating-linear-gradient(transparent, transparent 30px, #000 30px, #000 31px);
    background-attachment: local;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-repeat: repeat-y, repeat;
    border-radius: 1.2rem;
    border-top: 0.1rem solid #000;
    border-left: 0.1rem solid #000;
    border-right: 0.1rem solid #000;
    padding: 0 1.5rem;
    height: 12rem;
}
.s-form .container form .assignature-section {
    margin-bottom: 1.6rem;
}
.s-form .container form .assignature-section .assignature-wrapper {
    display: flex;
    justify-content: center;
    gap: 10.4rem;
}
.s-form .container form .assignature-section .assignature-wrapper .assignature {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    width: 100%;
}
.s-form
    .container
    form
    .assignature-section
    .assignature-wrapper
    .assignature
    label {
    text-align: center;
}
.s-form
    .container
    form
    .assignature-section
    .assignature-wrapper
    .assignature
    input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}
.s-form .container .warning {
    color: #f00;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 3.2rem;
}
@media (max-width: 725px) {
    .s-form .container form .reason-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem;
    }
    .s-form .container form .two-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .s-form .container form .two-columns .title-03-section.active {
        max-width: none;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section
        .input-group
        .input-wrapper {
        max-width: none !important;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section
        .input-group
        .input-wrapper
        .btn-area
        .toggle-button {
        width: 100% !important;
    }
    .s-form .container form .two-columns .title-02-section {
        max-width: none;
    }
    .s-form
        .container
        form
        .two-columns
        .title-02-section
        .input-group
        .input-wrapper {
        max-width: none;
        width: 100%;
    }
    .s-form
        .container
        form
        .two-columns
        .title-02-section
        .input-group
        .input-wrapper
        input {
        width: 100%;
    }
    .s-form .container form .info-section .input-group .mr-57 {
        margin-right: 0.7rem;
    }
}
@media (max-width: 555px) {
    .s-form .container .info-section .input-group {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .s-form .container .info-section .input-group .mr-32 {
        margin-right: 0;
    }
    .s-form .container .info-section .input-group .mr-16 {
        margin-right: 0;
    }
    .s-form .container .info-section .input-group .mr-57 {
        margin-right: 0 !important;
    }
    .s-form .container .info-section .input-group .large {
        max-width: none;
    }
    .s-form .container .info-section .input-group .input-wrapper select {
        max-width: none;
    }
    .s-form .container .title-01-section .input-group {
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center;
    }
    .s-form .container .title-01-section .input-group .input-wrapper {
        justify-content: center;
        max-width: 100% !important;
    }
    .s-form .container .title-01-section .input-group .input-wrapper input {
        max-width: none !important;
    }
    .s-form .container .title-01-section .input-group .mr-16 {
        margin-right: 0 !important;
    }
    .s-form .container .title-01-section .input-group .mr-32 {
        margin-right: 0 !important;
    }
    .s-form .container .title-01-section .input-group select {
        max-width: 100% !important;
    }
    .s-form .container .two-columns .title-03-section {
        height: auto !important;
    }
    .s-form .container .two-columns .title-03-section .input-group {
        flex-wrap: wrap;
        justify-content: center;
    }
    .s-form .container .two-columns .title-03-section .mr-16 {
        margin-right: 0;
    }
}
@media (max-width: 490px) {
    .s-form .container form .reason-section {
        padding: 1.8rem 0;
    }
    .s-form .container form .reason-section .input-group {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .s-form .container form .reason-section .input-group .input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .s-form .container form .reason-section .input-group .input-wrapper input,
    .s-form .container form .reason-section .input-group .input-wrapper select {
        max-width: 22.4rem;
        width: 100%;
    }
    .s-form .container form .info-section .info-head {
        justify-content: space-between;
        margin-left: 3.2rem;
    }
    .s-form .container form .assignature-section .assignature-wrapper {
        gap: 3.4rem;
        flex-wrap: wrap;
    }
}
@media (max-width: 360px) {
    .s-form .container form .info-section .info-head {
        margin-left: 1rem;
    }
    .s-form .container form .info-section .info-head .input-wrapper input {
        margin-left: 0.8rem;
    }
}
@media print {
    .s-form {
        margin-top: 1rem;
    }
    .s-form .container .title-form {
        margin-bottom: 1.6rem;
    }
    .s-form .container form .reason-section {
        gap: 3.2rem;
        flex-wrap: nowrap;
    }
    .s-form .container form .reason-section .input-group {
        flex-wrap: nowrap;
        width: 100%;
        gap: 1.6rem;
    }
    .s-form .container form .two-columns {
        flex-wrap: nowrap !important;
        margin-bottom: 1.2rem;
    }
    .s-form .container form .two-columns .title-03-section {
        max-width: none;
        width: 100%;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section
        .input-group
        .input-wrapper {
        max-width: none;
        width: 100%;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section
        .input-group
        .input-wrapper
        .btn-area
        .toggle-button.active {
        border: 3px solid black;
        color: black !important;
        font-weight: bold;
        width: 5rem;
    }
    .s-form .container form .two-columns .title-03-section.active {
        max-width: 40.4rem !important;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section.active
        .input-group
        .input-wrapper {
        max-width: 14rem !important;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section.active
        .input-group
        .input-wrapper:last-child {
        max-width: 11rem !important;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section.active
        .input-group
        .input-wrapper:nth-child(2) {
        max-width: 12rem !important;
    }
    .s-form
        .container
        form
        .two-columns
        .title-03-section.active
        .input-group
        .input-wrapper
        .btn-area
        .toggle-button {
        width: 5rem !important;
    }
    .s-form .container form .two-columns .title-02-section {
        display: none;
    }
    .s-form .container form .two-columns .title-02-section.active {
        display: flex;
        opacity: 1;
        pointer-events: all;
        transform: translateX(0);
        max-height: none;
        height: 12rem;
    }
    .s-form .container form .parecer-section {
        margin-bottom: 1.4rem;
    }
    .s-form .container form .parecer-section h3 {
        margin-bottom: 0.4rem;
    }
    .s-form .container form .parecer-section #text {
        background-repeat: repeat-y;
        background-size: 100% auto;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .s-form .container .warning {
        margin-bottom: 0;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
.border-box {
    border-radius: 5px;
    border: 0.3px solid #000;
    background: #fffafa;
}
label {
    font-size: 1.2rem;
    text-transform: uppercase;
}
input,
select {
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    background: #fff;
}
input::placeholder,
select::placeholder {
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
}
input:focus,
select:focus {
    border: 2px solid #000;
}
select {
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.mr-32 {
    margin-right: 3.2rem;
}
.mr-16 {
    margin-right: 1.6rem;
}
.mr-57 {
    margin-right: 5.7rem;
}
.large {
    max-width: 29.5rem;
    width: 100%;
}
.medium {
    max-width: 14rem;
    width: 100%;
}
